In [27]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
np.set_printoptions(threshold=sys.maxsize)
sns.set() 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.reset_option('future.no_silent_downcasting', True)
import warnings
warnings.filterwarnings('ignore')

In [206]:
data = pd.read_csv("D:\\NCI Docs\\NCI LECS\\Analytics programming and data visualization\\Group project\\owid-energy-data.csv")
data.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_cons_change_pct,coal_cons_change_twh,coal_cons_per_capita,coal_consumption,coal_elec_per_capita,coal_electricity,coal_prod_change_pct,coal_prod_change_twh,coal_prod_per_capita,coal_production,coal_share_elec,coal_share_energy,electricity_demand,electricity_generation,electricity_share_energy,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,fossil_cons_change_pct,fossil_cons_change_twh,fossil_elec_per_capita,fossil_electricity,fossil_energy_per_capita,fossil_fuel_consumption,fossil_share_elec,fossil_share_energy,gas_cons_change_pct,gas_cons_change_twh,gas_consumption,gas_elec_per_capita,gas_electricity,gas_energy_per_capita,gas_prod_change_pct,gas_prod_change_twh,gas_prod_per_capita,gas_production,gas_share_elec,gas_share_energy,greenhouse_gas_emissions,hydro_cons_change_pct,hydro_cons_change_twh,hydro_consumption,hydro_elec_per_capita,hydro_electricity,hydro_energy_per_capita,hydro_share_elec,hydro_share_energy,low_carbon_cons_change_pct,low_carbon_cons_change_twh,low_carbon_consumption,low_carbon_elec_per_capita,low_carbon_electricity,low_carbon_energy_per_capita,low_carbon_share_elec,low_carbon_share_energy,net_elec_imports,net_elec_imports_share_demand,nuclear_cons_change_pct,nuclear_cons_change_twh,nuclear_consumption,nuclear_elec_per_capita,nuclear_electricity,nuclear_energy_per_capita,nuclear_share_elec,nuclear_share_energy,oil_cons_change_pct,oil_cons_change_twh,oil_consumption,oil_elec_per_capita,oil_electricity,oil_energy_per_capita,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,oil_share_elec,oil_share_energy,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,other_renewables_cons_change_pct,other_renewables_cons_change_twh,other_renewables_elec_per_capita,other_renewables_elec_per_capita_exc_biofuel,other_renewables_energy_per_capita,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,other_renewables_share_energy,per_capita_electricity,primary_energy_consumption,renewables_cons_change_pct,renewables_cons_change_twh,renewables_consumption,renewables_elec_per_capita,renewables_electricity,renewables_energy_per_capita,renewables_share_elec,renewables_share_energy,solar_cons_change_pct,solar_cons_change_twh,solar_consumption,solar_elec_per_capita,solar_electricity,solar_energy_per_capita,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.87,1.550,NaN,569.557,NaN,NaN,NaN,NaN,NaN,76.03,NaN,NaN,NaN,NaN,20.081,NaN,378.61,378.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.36,NaN,NaN,80.653,NaN,NaN,NaN,NaN,NaN,164.26,NaN,NaN,NaN,NaN,NaN,43.385,NaN,215.64,NaN,NaN,NaN,NaN,50.45,NaN,13.325,NaN,NaN,NaN,NaN,NaN,73.25,NaN,19.347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,65.07,NaN,NaN,NaN,NaN,NaN,17.187,NaN,NaN,22.80,16.93,NaN,NaN,NaN,NaN,NaN,6.022,4.472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.25,NaN,19.347,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.46,1.596,NaN,567.642,NaN,NaN,NaN,NaN,NaN,86.26,NaN,NaN,NaN,NaN,21.307,NaN,404.85,404.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.66,NaN,NaN,80.934,NaN,NaN,NaN,NaN,NaN,190.41,NaN,NaN,NaN,NaN,NaN,47.032,NaN,229.81,NaN,NaN,NaN,NaN,54.33,NaN,13.420,NaN,NaN,NaN,NaN,NaN,77.19,NaN,19.066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,50.99,NaN,NaN,NaN,NaN,NaN,12.595,NaN,NaN,22.86,16.40,NaN,NaN,NaN,NaN,NaN,5.647,4.051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.19,NaN,19.066,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.62,1.528,NaN,570.212,NaN,NaN,NaN,NaN,NaN,93.43,NaN,NaN,NaN,NaN,21.568,NaN,433.19,433.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356.67,NaN,NaN,82.336,NaN,NaN,NaN,NaN,NaN,208.92,NaN,NaN,NaN,NaN,NaN,48.228,NaN,247.01,NaN,NaN,NaN,NaN,53.29,NaN,12.302,NaN,NaN,NaN,NaN,NaN,76.52,NaN,17.664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,54.32,NaN,NaN,NaN,NaN,NaN,12.540,NaN,NaN,23.23,16.61,NaN,NaN,NaN,NaN,NaN,5.363,3.834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.52,NaN,17.664,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,1.626,NaN,574.699,NaN,NaN,NaN,NaN,NaN,102.01,NaN,NaN,NaN,NaN,22.261,NaN,458.24,458.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381.84,NaN,NaN,83.328,NaN,NaN,NaN,NaN,NaN,226.51,NaN,NaN,NaN,NaN,NaN,49.430,NaN,263.35,NaN,NaN,NaN,NaN,53.21,NaN,11.612,NaN,NaN,NaN,NaN,NaN,76.40,NaN,16.672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,53.32,NaN,NaN,NaN,NaN,NaN,11.636,NaN,NaN,23.19,15.74,NaN,NaN,NaN,NaN,NaN,5.061,3.435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.40,NaN,16.672,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.40,1.692,NaN,581.420,NaN,NaN,NaN,NaN,NaN,115.01,NaN,NaN,NaN,NaN,23.161,NaN,496.56,496.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.60,NaN,NaN,84.300,NaN,NaN,NaN,NaN,NaN,244.16,NaN,NaN,NaN,NaN,NaN,49.170,NaN,288.71,NaN,NaN,NaN,NaN,52.99,NaN,10.671,NaN,NaN,NaN,NaN,NaN,77.96,NaN,15.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,59.43,NaN,NaN,NaN,NaN,NaN,11.968,NaN,NaN,24.97,16.57,NaN,NaN,NaN,NaN,NaN,5.029,3.337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.96,NaN,15.700,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

## Data Pre-processing

In [209]:
data = data[data['year'] >= 1970]

In [211]:
data.shape

(13427, 129)

In [213]:
data.isna().sum()

country                                             0
year                                                0
iso_code                                         3105
population                                       2430
gdp                                              5507
biofuel_cons_change_pct                         11637
biofuel_cons_change_twh                         10703
biofuel_cons_per_capita                         11092
biofuel_consumption                             10641
biofuel_elec_per_capita                          7857
biofuel_electricity                              7593
biofuel_share_elec                               7616
biofuel_share_energy                            10724
carbon_intensity_elec                            7592
coal_cons_change_pct                             8447
coal_cons_change_twh                             8337
coal_cons_per_capita                             9015
coal_consumption                                 8313
coal_elec_per_capita                             7357
coal_electricity                                 6742
coal_prod_change_pct                             8547
coal_prod_change_twh                             3344
coal_prod_per_capita                             4194
coal_production                                  3179
coal_share_elec                                  6765
coal_share_energy                                8850
electricity_demand                               7564
electricity_generation                           6016
electricity_share_energy                         9467
energy_cons_change_pct                           2067
energy_cons_change_twh                           1874
energy_per_capita                                3120
energy_per_gdp                                   5958
fossil_cons_change_pct                           8714
fossil_cons_change_twh                           8714
fossil_elec_per_capita                           7314
fossil_electricity                               6699
fossil_energy_per_capita                         9372
fossil_fuel_consumption                          8671
fossil_share_elec                                6727
fossil_share_energy                              8850
gas_cons_change_pct                              8532
gas_cons_change_twh                              8480
gas_consumption                                  8444
gas_elec_per_capita                              7429
gas_electricity                                  6814
gas_energy_per_capita                            9145
gas_prod_change_pct                              7804
gas_prod_change_twh                              3122
gas_prod_per_capita                              4072
gas_production                                   2958
gas_share_elec                                   6837
gas_share_energy                                 8850
greenhouse_gas_emissions                         7564
hydro_cons_change_pct                            8603
hydro_cons_change_twh                            8305
hydro_consumption                                8287
hydro_elec_per_capita                            5786
hydro_electricity                                4820
hydro_energy_per_capita                          8989
hydro_share_elec                                 6166
hydro_share_energy                               8850
low_carbon_cons_change_pct                       8542
low_carbon_cons_change_twh                       8305
low_carbon_consumption                           8287
low_carbon_elec_per_capita                       6364
low_carbon_electricity                           5547
low_carbon_energy_per_capita                     8989
low_carbon_share_elec                            6353
low_carbon_share_energy                          8850
net_elec_imports                                 7852
net_elec_imports_share_demand                    7880
nuclear_cons_change_pct                         11041
nuclear_cons_change_twh                          6977
nuclear_consumption                              6936
nuclear_elec_per_capita                          5099
nuclear_electricity                              4229
nuclear_energy_per_capita                        7542
nuclear_share_elec                               6225
nuclear_share_energy                             8974
oil_cons_change_pct                              8077
oil_cons_change_twh                              8077
oil_consumption                                  8063
oil_elec_per_capita                              7394
oil_electricity                                  6779
oil_energy_per_capita                            8765
oil_prod_change_pct                              7432
oil_prod_change_twh                              2941
oil_prod_per_capita                              4014
oil_production                                   2792
oil_share_elec                                   6802
oil_share_energy                                 8850
other_renewable_consumption                      8532
other_renewable_electricity                      5186
other_renewable_exc_biofuel_electricity          8157
other_renewables_cons_change_pct                 9865
other_renewables_cons_change_twh                 8598
other_renewables_elec_per_capita                 6117
other_renewables_elec_per_capita_exc_biofuel     8421
other_renewables_energy_per_capita               9199
other_renewables_share_elec                      6234
other_renewables_share_elec_exc_biofuel          8180
other_renewables_share_energy                    9162
per_capita_electricity                           6787
primary_energy_consumption                       1699
renewables_cons_change_pct                       8548
renewables_cons_change_twh                       8305
renewables_consumption                           8287
renewables_elec_per_capita                       6364
renewables_electricity                           5435
renewables_energy_per_capita                     8989
renewables_share_elec                            6275
renewables_share_energy                          8850
solar_cons_change_pct                           11196
solar_cons_change_twh                            8857
solar_consumption                                8780
solar_elec_per_capita                            6291
solar_electricity                                5362
solar_energy_per_capita                          9445
solar_share_elec                                 6244
solar_share_energy                               9390
wind_cons_change_pct                            10919
wind_cons_change_twh                             8803
wind_consumption                                 8729
wind_elec_per_capita                             6270
wind_electricity                                 5340
wind_energy_per_capita                           9395
wind_share_elec                                  6230
wind_share_energy                                9344
dtype: int64

In [215]:
#print(data.shape)

In [135]:
#columns = data.columns.tolist()

In [137]:
#for col in columns:
#    data=data[[col for col in df if data[col].isnull().sum() < 15000]]

In [139]:
#data.shape

(21812, 46)

In [141]:
#data.head()

,country,year,iso_code,population,gdp,coal_prod_change_pct,coal_prod_change_twh,coal_prod_per_capita,coal_production,electricity_generation,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,gas_prod_change_pct,gas_prod_change_twh,gas_prod_per_capita,gas_production,hydro_elec_per_capita,hydro_electricity,hydro_share_elec,low_carbon_elec_per_capita,low_carbon_electricity,low_carbon_share_elec,nuclear_cons_change_twh,nuclear_consumption,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,other_renewable_electricity,other_renewables_elec_per_capita,other_renewables_share_elec,primary_energy_consumption,renewables_elec_per_capita,renewables_electricity,renewables_share_elec,solar_elec_per_capita,solar_electricity,solar_share_elec,wind_elec_per_capita,wind_electricity,wind_share_elec
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.45,13.325,NaN,73.25,19.347,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,22.80,NaN,6.022,NaN,NaN,73.25,19.347,NaN,0.0,0.0,NaN,0.0,0.0
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.33,13.420,NaN,77.19,19.066,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,22.86,NaN,5.647,NaN,NaN,77.19,19.066,NaN,0.0,0.0,NaN,0.0,0.0
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.29,12.302,NaN,76.52,17.664,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,23.23,NaN,5.363,NaN,NaN,76.52,17.664,NaN,0.0,0.0,NaN,0.0,0.0
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,458.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.21,11.612,NaN,76.40,16.672,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,23.19,NaN,5.061,NaN,NaN,76.40,16.672,NaN,0.0,0.0,NaN,0.0,0.0
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,496.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.99,10.671,NaN,77.96,15.700,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,24.97,NaN,5.029,NaN,NaN,77.96,15.700,NaN,0.0,0.0,NaN,0.0,0.0

In [217]:
df = data.dropna(subset=['population'])

In [219]:
df.shape

(10997, 129)

In [291]:
df['country'] = df['country'].str.strip().str.title()

In [293]:
data_year = df.groupby("year")

In [295]:
data_year['year'].value_counts()

year
1970    117
1971    116
1972    116
1973    116
1974    116
1975    116
1976    116
1977    116
1978    116
1979    116
1980    211
1981    210
1982    210
1983    210
1984    210
1985    216
1986    217
1987    217
1988    217
1989    217
1990    225
1991    222
1992    227
1993    226
1994    227
1995    227
1996    227
1997    228
1998    228
1999    228
2000    231
2001    231
2002    231
2003    232
2004    232
2005    232
2006    231
2007    231
2008    231
2009    231
2010    231
2011    230
2012    231
2013    231
2014    231
2015    231
2016    231
2017    231
2018    231
2019    231
2020    231
2021    231
2022    223
2023    129
Name: count, dtype: int64

In [297]:
data_1 = df[df['year'] >= 1980]

In [299]:
data_1.shape

(9836, 129)

In [301]:
data_sub = df[['year','country','iso_code','population','gdp']]

In [303]:
data_sub.head()

    year      country iso_code  population           gdp
94  1970  Afghanistan      AFG  10752973.0  1.581223e+10
95  1971  Afghanistan      AFG  11015853.0  1.577051e+10
96  1972  Afghanistan      AFG  11286753.0  1.317055e+10
97  1973  Afghanistan      AFG  11575308.0  1.356863e+10
98  1974  Afghanistan      AFG  11869881.0  1.430911e+10

In [309]:
import mysql.connector

In [311]:
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro",database="")
cursor = conn.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS energy_db")

print("Database 'energy_db' created successfully!")

# Close connection
cursor.close()
conn.close()

Database 'energy_db' created successfully!

In [313]:
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro", database="energy_db")
cursor = conn.cursor()
# Create the 'countries' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS countries (
        country_id INT AUTO_INCREMENT PRIMARY KEY,
        country_name VARCHAR(255) UNIQUE,
        iso_code VARCHAR(10) UNIQUE
    )
""")

In [315]:
unique_countries = df[['country', 'iso_code']].drop_duplicates()
for index, row in unique_countries.iterrows():
    iso_code = row['iso_code'] if row['iso_code'] is not None else None  # Convert NaN to None
    cursor.execute("INSERT INTO countries (country_name, iso_code) VALUES (%s, %s)", (row['country'], row['iso_code']))

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'